.hero-body {
    background-image: url('../images/kitchenpic1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 

};

.fas {
    color: black;
    text-shadow: slateblue;
}

.h1 {
    text-shadow: cadetblue 2px 2px;
}

[data-component="slideshow"] .slide {
    display: none;
  }

[data-component="slideshow"] .slide.active {
    display: block;
  }

  .imgSize{
    margin-top: 27px;
    align-items: center;
    min-height: 300px;
    max-height: 300px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}


header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
   font-size:25px;
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
    text-decoration: none;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
.nav_menu_link a{
    color: #27ae60;
}
.nav_menu_link :hover{
    color: white;
    background-color: #27ae60;
}